@import './reset.scss';

$maincolor : #0000FF;

.Anima-enter {
  opacity: 0;
  }

.Anima-enter-active {
  opacity: 1;
  transition: all 500ms;
}

.blue {
    color: $maincolor;
}

// div.container h4 {
//     color: green;
// }

// div.container p {
//     color : blueviolet;
// }


// nesting 문법
// div.container {
    
//     h4 {
//         color: green;
//     }

//     p {
//         color : purple;
//     }
    
// }

.my-alert {
    background : #eeeeee;
    padding : 15px;
    border-radius : 5px;
    max-width : 500px;
    width : 100%;
    margin : auto;
  }

.my-alert2 {
    @extend .my-alert;
    background : #ffe591;
}

.my-alert p {
    margin-bottom : 0;
  }